* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background: #0F2027;  
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+;
}

body * {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 35px;
}


main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;

  display: flex;
  gap: 24px;
  flex-direction: column;
}

input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #43e7ad;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.border {
  color: white;
  background-image: linear-gradient(
    90deg,
    #2C5364 0%,
    #43e7ad 50.52%,
    #0F2027 100%
  );
  padding-top: 4px;
  border-radius: 10px;
}

section div {
  background-color: #2a2634;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  letter-spacing: -0.18px;
  color: #a1a1aa;
}

section ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  margin-top: 24px;
}

a {
  text-decoration: none;
  color: white;
  font-size: small ;
}

section ul li {
  transition: transform 0.3s;
}

section ul li:hover {
  transform: scale(1.1);
}

.game-list img {
  width: 90px;
  border-radius: 8px;
}

.other-utils {
  width: 100px;
  border-radius: 5px;
}

.gradients {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  object-fit: contain;
}

.design-list {
  text-align: center;
  display: flex;
  justify-content: center;
}

.insta {
  width: 100px;
  border-radius: 5px;
}

.span-style {
  display: flex;
  justify-content: center;
}

#study-list {
  position: fixed;
  left: 50px;
  top: 200px;
  color: white;
  
  animation: fromTop 0.7s backwards;
  animation-delay: 0.6s;
  transition: transform 0.3s;;
}

#study {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.submit {
  position: relative;
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
  background-color: #202231;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: width .5s;
  border-radius .5s;
}

.submit * {
  position: aboslute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .25s;
}

.icon {
  opacity: 0;
}

.submit:focus {
  width: 2rem;
  background-color: #44c08a;
  border-radius: 50%;
}

.submit:focus .text-submit {
  opacity: 0;
  display: none;
}

.submit:focus .icon {
  opacity: 1;
  transition-delay: .5s;
}

#clear {
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
  background-color: #202231;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* animation */

header div {
  animation: fromTop 0.7s backwards;
  animation-delay: 0.3s;
}

main section {
  animation: fromBot 0.7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: 0.4s;
}

main section:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBot {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
